.nav-top {
    position: relative;
    display: grid;
    grid-column-gap: 2%;

    list-style: none;
    left: 5%;
    width: 90%;
    right: 5%;
    height: 80px;

    justify-content: center;
    align-items: center;
}

.nav-top li{
    /* float: left; */

    text-align: center;
    height: 48px;
    width: 100%;
}

.nav-top a{
    display: block;
    text-decoration: none;
    line-height: 48px;
    height: 100%;

    background-color: #333333;
    border-radius: 8px;

    transition: all .2s;
}

.nav-top a:hover,a.hover{
    scale: 1.04;
    color: #111111;
    font-weight: bold;
    background-color: #FFA500;
}