.nav-box {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 20%;
    height: 640px;
    border-radius: 8px;
    width: 60%;
}

.nav-box-list {
    flex: 2;
    min-width: 216px;
    max-width: 384px;
    height: 100%;
    background-color: #333333;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.nav-box-region{
    position: relative;
    flex: 8;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nav-box-img {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

.nav-box-img-left {
    left: 0;
}

.nav-box-img-left::after {
    display: inline-block;
    content: '\e92f';

    width: 32px;
    height: 32px;
}

.nav-box-img-right {
    right: 0;
}

.nav-box-img-right::after {
    display: inline-block;
    content: '\e930';

    width: 32px;
    height: 32px;
}

.nav-box-img-left,
.nav-box-img-right {
    display: inline-block;

    position: absolute;
    top: calc(50% - 16px);
    height: 32px;
    line-height: 32px;
    text-align: center;
}
.nav-box-img-left:hover,
.nav-box-img-right:hover{
    font-size: 28px;
}

.nav-box-img::after {
    content: '';
    display: none;

    position: absolute;

    left: 0;
    width: 100%;
    height: 100%;

    background-color: #333333AA;
    border-radius: 0 8px 8px 0;
}

/* 利用后代选择器 */
.nav-box-img:hover::after {
    /* 当鼠标经过展示图片时，将cover层显示出来  */
    display: block;
    pointer-events: none;
}

.nav-box-slider{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #33333377;
    width: 100%;
    height: 32px;
    font-size: 0;
}

.slider-point{
    display: inline-block;
    
    margin: 4px 4px 0px 4px;
    width: 12px;
    height: 12px;
    background: #aaa;
    border-radius: 100%;
    
    transition: all .2s;
}

.slider-point:hover,.active-point{
    width: 16px;
    height: 16px;
    background: #bbb;

}

.nav-box-item {
    position: relative;
    display: grid;
    border-radius: 8px;
    padding: 0px 8px 0px 8px;
    cursor: pointer;
    text-align: left;
    line-height: 200%;
}
.nav-box-item::after{
    content: '\e92e';

    position: absolute;
    right: 16px;
    font-family: 'icomoon';
}
.nav-box-item:hover{
    background-color: #ffa500;
    color: #111111;
}
.nav-box-item:hover a{
    color: #111111;
}

.nav-box-item a{
    text-decoration: none;
}