.show {
    display: block;
    width: 80%;
    /* height: 480px; */
    margin: 0 auto;
    /* height: 480px; */
}

.show-card {
    /*overflow可以剪切，防止子元素超出父元素范围*/
    overflow: hidden;
    float: left;
    width: 320px;
    height: 480px;
    background-color: #333333;
    margin: 8px 8px;
    border-radius: 8px;

    /* 过渡效果，目标是全部属性 */
    transition: all .5s;

}

.show-card:hover {
    transform: translate(0, -4px);
    box-shadow: 4px 4px 16px 4px #111111AA;
}

.show-card img {
    height: 75%;
    border-radius: 0;
}

.show-card>p {
    line-height: 36px;
    text-align: center;
    width: 100%;
}

.show-card>h4 {
    line-height: 72px;
    width: 100%;
    text-align: center;
}