/* 字体图标声明 */
/* @font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?glgrsi');
  src: url('/fonts/icomoon.eot?glgrsi#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?glgrsi') format('truetype'),
    url('/fonts/icomoon.woff?glgrsi') format('woff'),
    url('/fonts/icomoon.svg?glgrsi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
} */

@font-face {
  font-family: 'huangkai';
  src: url('/fonts/huangkaihuaLawyerfont-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: '华文行楷';
  src: url('/fonts/STXINGKA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: '宋体';
  src: url('/fonts/simsun.ttc') format('truetype');

}


:root {

  /* 基础颜色设置 */
  --white-color: #eeeeee;
  --black-color: #111111;
  --theme-color: #e67e22;


  /* 全局样式设置 默认为 dark */
  --foreground-color: var(--white-color);
  --foreground-alt-color: color-mix(in srgb, var(--foreground-color), black 10%);

  --background-color: var(--black-color);
  --background-alt-color: color-mix(in srgb, var(--background-color), black 10%);
  /* --dark-control-color: #202020a8; */
  --theme-dark-color: color-mix(in srgb, var(--theme-color), black 10%);

  --global-border-radius: 0.5em;

  /* min-width: 0em; */

  font-family: sans-serif, system-ui, Inter, Avenir, Helvetica, Arial;

  line-height: 1.5;
  font-weight: 400;

  color: var(--foreground-color);



  color-scheme: dark light;

  /* background-color: var(--background-color); */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 让锚点定位更加优雅 */
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}


/* 主题样式调整 */
/* 浅色覆盖主题 */
.light {
  --foreground-color: var(--black-color);
  --background-color: var(--white-color);

  color-scheme: light;
}


/* 小屏幕调整样式尺寸 */
@media screen and (max-width: 768px) {
  :root {
    /* 让字体元素大小适应屏幕 */
    font-size: 2vw;
    /* 
      移动设备优化
      https://developer.mozilla.org/zh-CN/docs/Web/CSS/text-rendering#optimizespeed
     */
    text-rendering: optimizeSpeed;
  }
}


* {
  /* color: var(--foreground-color); */
  /* 清除所有元素初始的边距 */
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  /* 当使用的字体缺少粗体或斜体版本时，允许浏览器同时合成粗体和斜体样式 */
  /* font-synthesis: style weight; */
}

body {
  /* 
    隐藏水平滚动条 
    因为在水平过渡切换页面时，水平滚动条突然出现，导致页面尺寸突然发生变化，这样不舒服
  */
  overflow-x: hidden;
}


img {
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle;
}

.acrylic {

  background-color: color-mix(in srgb, var(--background-color), transparent 60%);
  /* 半透明背景 */
  backdrop-filter: blur(1em);
  /* 背景模糊 */
  /* border: 1px solid rgba(16, 16, 16, 0.2); */
  /* 边框增强效果 */
  box-shadow: 0 0.25em 0.5em 0.2em rgba(0, 0, 0, 0.1);
  /* 阴影增强层次感 */
}


a {
  /* 重置链接颜色 */
  color: inherit;
  text-decoration: none;
}