/* 隐藏 Markdown 公式的原本内容 */
.katex-html {
  display: none;
}

.markdown-body {

  /* Markdown 目录列表 */
  .table-of-contents {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 1rem;
    max-width: 20rem;
    max-height: 80vh;

    .markdown-toc-list {
      overflow: hidden;
      padding-left: 1.2rem;

      .markdown-toc-item {
        color: var(--theme-color);

        .markdown-toc-link {
          color: var(--foreground-color);
          white-space: nowrap;
        }
      }
    }
  }

  .markdown-anchor-link {
    display: inline-block;
    width: 0;
    opacity: 0;
    transition: all .2s;
    
    color: var(--theme-color);
    text-decoration: none !important;
  }

  /* .markdown-anchor-link {
    color: var(--foreground-color);
    text-decoration: none;

    &:hover{
      text-decoration: none;
    }
  } */

  /* 包含Markdown链接的元素（标题）被悬浮后让链接显现 */
  *:has(.markdown-anchor-link):hover .markdown-anchor-link {
    width: 1.5em;
    opacity: 1;
  }
}