.link {
    position: relative;
    font-weight: 700;
    /* width: fit-content; */
    padding: 0px 8px 0px 8px;
    /* background-color: #444444; */
    border-radius: 4px;

    /* 过渡效果 */
    transition: all .1s;
}

.link::after{
    content: '\e92e';

    position: absolute;
    right: 16px;
    font-family: 'icomoon';
}

.link a {
    text-decoration: none;
}

.link:hover{
    background-color: #ffa500;
    color: #111111;
}
.link:hover a p{
    color: #111111;
}
